@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #666;
  font-family: "Exo 2", sans-serif;
}

.container {
  padding-top: 5rem;
  width: 800px;
  margin: 0 auto;
}

.card {
  border-radius: 6px;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 2px 2px 6px rgba(0,0,0,.2);
}

.btn {
  color: #42b983;
  position: relative;
  border-radius: 99px;
  border: 1px solid #42b983;
  text-decoration: none;
  text-transform: uppercase;
  padding: .5rem 1.5rem;
  font-weight: 700;
  outline: none;
  background: #fff;
  transition: all .22s;
  margin-right: 1rem;
}

.btn.primary {
  background: #42b983;
  color: white;
}

.btn:active {
  box-shadow: inset 1px 1px 1px rgba(0,0,0,.3);
}

.btn:hover {
  cursor: pointer;
  opacity: .8;
}

#pictures {
  display: none;
}

.preview {
  display: flex;
  flex-wrap: wrap;
  padding: .5rem;
}

.preview-image {
  margin: 0 .25rem .5rem .25rem;
  position: relative;
  overflow: hidden;
  display: flex;
}

.preview-image img {
  width: 180px;
}

.preview-remove {
  opacity: 0;
  width: 20px;
  height: 20px;
  font: bold 20px "Exo 2";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  padding-bottom: 2px;
  background-color: rgba(255,255,255,.5);
  transition: opacity .5s;
  cursor: pointer;
  z-index: 2;
}
.preview-remove:hover {
  background-color: rgba(255,255,255,.7);
}

.preview-image:hover .preview-remove {
  opacity: 1;
  transition: opacity .3s;
}

.preview-info {
  font: bold .8rem "Exo 2";
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  bottom: -100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.5);
  z-index: 1;
  transition: bottom .3s;
  padding: 20px 0 10px;
  pointer-events: none;
}

.preview-image:hover .preview-info {
  transition: bottom .3s;
  bottom: 0;
}

.preview-info p:first-child {
  padding:  5px;
  max-width: 180px;
  width: 100%;
  display: inline-block;
  overflow-wrap: break-word;
}

.preview-image.removing {
  transform: scale(0);
  transition: transform .3s;
}

.preview-info-progress {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #42b983;
  text-align: center;
  transition: width .22s;
  width: 30%;
  height: 100%;
}